body {
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

h1 {
  text-align: center;
}

.brush {
  fill: darkgray;
}

.input.selected-brush {
  stroke: lightblue;
  stroke-width: 1px;
}
.input.selected-info {
  stroke: red;
  stroke-width: 1px;
}

.trace.selected-brush {
  stroke-width: 4px;
}
.trace.selected-info {
  stroke-width: 4px;
}

.d3-slider {
  margin-bottom: 2.5em;
  width:400px;
  margin-left:100px;
  margin-right:40px;
}
.slider-label {
  width: 100px;
  margin-left: -80px;
  margin-bottom: 0px;
}
.d3-slider-axis-bottom {
  top: 0em;
}
.left { fill:red; }

#info {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

#info table {
  font-size: 75%;
}

#info td {
  border: 1px solid black;
  padding: 0px;
}
